{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <ul>
            {% for single_user in user %}
            <li>{{single_user.surname}} {{single_user.name}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

</div>
    {{form(formulaireUser)}}
</div>

{% endblock %}